{% extends "getrecipe/base.html" %}

{% block title %}
    Recepti - registracija
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="center-block style=" style="width:450px;">
            <h1>Registracija</h1>
            Dovoljeni znaki so črke, številke in (@ . + - _). </br>
            Pravila za geslo:
            <ul>
                <li>
                    Vaše geslo ne sme biti preveč podobno ostalim podatkom.
                </li>
                <li>
                    Vaše geslo mora vsebovati vsaj 8 znakov.
                </li>
                <li>
                    Vaše geslo ne sme biti sestavljeno le iz črk ali le iz številk.
                </li>
            </ul>
            <b>{{ error }}</b>
            <form action="{% url 'register' %}" method = "POST">
                {% csrf_token %}
                <table class="table">
                    <tr>
                        <td>Uporabniško ime: </td>
                        <td>{{ form.username}}</td>
                    </tr>
                    <tr>
                        <td>E-pošta: </td>
                        <td>{{ form.email }}</td>
                    </tr>
                    <tr>
                        <td>Geslo: </td>
                        <td>{{ form.password1 }}</td>
                    </tr>
                    <tr>
                        <td>Ponovite geslo:</td>
                        <td>{{ form.password2 }}</td>
                    </tr>
                </table>
                <div class="text-center">
                    <input type = "submit" value = "Registracija" />
                </div>
            </form>
        </div>
    </div>
{% endblock %}
