<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
Registracija
{{ error }}
<form action="{% url 'register' %}" method = "POST">
    {% csrf_token %}

    <p>
    {{ form.username.label_tag }}
    {{ form.username}}
    </p>

    <p>
    {{ form.email.label_tag }}
    {{ form.email }}
    </p>

    <p>
    {{ form.password1.label_tag }}
    {{ form.password1 }}
    </p>

    <p>
    {{ form.password2.label_tag }}
    {{ form.password2 }}
    </p>

    <input type = "submit" value = "register" />
</form>
</body>
</html>