{% extends "getrecipe/base.html" %}

{% block title %}
Recepti - {{ recept.ime }}
{% endblock %}

<style type="text/css">
   body { background: navy !important; } /* Adding !important forces the browser to overwrite the default style applied by Bootstrap */
</style>

{% block content %}
   <div class="jumbotron">
   <h1>{{ recept.ime }}</h1>
     <center><img src="{{recept.povezava_do_slike_jedi}}"></center>
       <p>
       <table>
         <tr>
           <td>Zahtevnost:</td>
           <td>{{ recept.zahtevnost }} / 3</td>
         </tr>
         <tr>
           <td>Čas priprave:&nbsp</td>
           <td>{{ recept.cas_priprave }} min</td>
         </tr>
         <tr>
           <td>Ocena:</td>
           <td>{{ recept.ocena }} / 5</td>
         </tr>
       </table>
       </p>
       <p><b>Sestavine:</b>
           <table>
              {% for s in recept.priprava_set.all %}
                <tr>
                    <td align="right">{{ s.kolicina }} {{ s.mera.ime }}</td>
                    <td align="center">&nbsp...&nbsp</td>
                    <td>{{ s.sestavina.ime }}</td>
                </tr>
              {% endfor %}
           </table>
       </p>
       <p><b>Postopek priprave:</b>
           <div align="justify">{{ recept.postopek }}</div></p>
</div>

{% endblock %}
