{% extends "getrecipe/base.html" %}

{% block title %}
    Recepti
{% endblock %}

<style type="text/css">
   body { background: navy !important; } /* Adding !important forces the browser to overwrite the default style applied by Bootstrap */
</style>

{% block content %}
<div class="jumbotron text-center">
  <h1>Recepti</h1>
  <p>Vpiši ime recepta, ki ga iščeš, ali pa svoje sestavine in izvedel boš, kaj lahko skuhaš.</p>
  <form>
    <div class="input-group">
      <form type="get" action="{% url 'index' %}" style="margin: 0" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="text" class="form-control" size="50" placeholder="Recept ali sestavina" id="search_box" name="search_box" required>
        <div class="input-group-btn">
            <button id="search_submit" type="submit" style="background-color:#25b1ed" class="btn btn-danger">Išči</button>
        </div>
      </form>
    </div>
  </form>
  <div>
    <br>
    <a href="{% url 'detail' 5991 %}"><img src="{{recepti.2.povezava_do_slike_jedi}}" height=100></a>
    <a href="{% url 'detail' 5996 %}"><img src="{{recepti.7.povezava_do_slike_jedi}}" height=100></a>
    <a href="{% url 'detail' 5997 %}"><img src="{{recepti.8.povezava_do_slike_jedi}}" height=100></a>
    <a href="{% url 'detail' 5998 %}"><img src="{{recepti.9.povezava_do_slike_jedi}}" height=100></a>
    <br><br>
    <a href="{% url 'detail' 6048 %}"><img src="{{recepti.33.povezava_do_slike_jedi}}" height=100></a>
    <a href="{% url 'detail' 6024 %}"><img src="{{recepti.38.povezava_do_slike_jedi}}" height=100></a>
    <a href="{% url 'detail' 6036 %}"><img src="{{recepti.50.povezava_do_slike_jedi}}" height=100></a>
    <a href="{% url 'detail' 6042 %}"><img src="{{recepti.57.povezava_do_slike_jedi}}" height=100></a>
  </div>
</div>


<div id="about" class="container-fluid">
  <div class="row">
    <div class="col-sm-8">
      <h2>O STRANI</h2><br>
      <h4 align="justify">Pozdravljen na spletni strani za iskanje receptov! Tu boš našel ogromno receptov, ki jih lahko sam pripraviš doma. Iskanje želenega recepta je zelo enostavno. Zgoraj vpiši ime recepta ali pa sestavine, ki so ti na voljo, in izvedel boš, katere jedi lahko pripraviš iz njih. Lahko pa sestavine tudi izbereš izmed velike količine ponujenih (to narediš <a href="{% url 'search' %}">tukaj</a>).
      </h4><br>
    </div>
    <div class="col-sm-4">
      <span><img src="../../static/getrecipe/img/homer.jpg" alt="Homer" height=200/></span>
    </div>
  </div>
</div>

<div class="container-fluid bg-grey">
  <div class="row">
    <div class="col-sm-4">
      <span><img src="../../static/getrecipe/img/magnifying.png" alt="Magnifying glass" height=200/></span>
    </div>
    <div class="col-sm-8">
      <h2>KAKO ISKATI</h2><br>
      <h4 align="justify">Na strani <a href="{% url 'search' %}">IŠČI RECEPTE</a> lahko izbereš sestavine, ki so na voljo in našel boš vse recepte, ki te sestavine vsebujejo.<br>
      Če klikneš na <a href="{% url 'all_recipes' %}">VSI RECEPTI</a>, boš našel seznam vseh receptov na tej spletni strani. Za vsakega od njih so nato podane sestavine in postopek, kako jed pripraviti.<br>
      Recept pa lahko tudi dodaš v <a href="{% url 'publish' %}">DODAJ RECEPT</a>, vendar moraš biti za to prijavljen (glej spodaj).
      </h4><br>
    </div>
  </div>
</div>

<div id="about" class="container-fluid">
  <div class="row">
    <div class="col-sm-8">
      <h2>UPORABNIK</h2><br>
      <h4 align="justify">Na to spletno stran se lahko tudi <a href="{% url 'register' %}">registriraš</a>, le tako se lahko nato <a href="{% url 'login' %}">prijaviš</a>, da dodaš nov recept ali oceniš že obstoječega. Na koncu se ne pozabi <a href="{% url 'logout' %}">odjaviti</a>!
      </h4><br>
    </div>
    <div class="col-sm-4">
      <span><img src="../../static/getrecipe/img/user.jpg" alt="User" height=200/></span>
    </div>
  </div>
</div>

{% endblock %}
