{% extends "getrecipe/base.html" %}

{% block title %}
    Išči recepte
{% endblock %}

{% block content %}

    <div class="jumbotron">
        <h1>Išči recepte</h1>
        Izberi sestavine, ki so ti na voljo:
        <form action="{% url 'search' %}" method="post">
            {% csrf_token %}
            <h1></h1>
            {{ form }}
            <input type="submit" value="Išči" />
        </form>
        Našel boš vse recepte, ki vsebujejo nekaj ali vse sestavine, ki si jih izbral.

    </div>


{% endblock %}
